# Ignore everything by default
*

# Keep the .gitignore itself
!/.gitignore
!/.gitattributes

# Track only Tree directory contents
!/Tree/
!/Tree/inc/
!/Tree/inc/**.h
!/Tree/resc/
!/Tree/resc/**.h
!/Tree/sp_test/
!/Tree/sp_test/**.sp
!/Tree/src/
!/Tree/src/**.cpp
!/Tree/*.cpp

# Track root-level build config and docs
!/CMakeLists.txt
!/Readme.md

!py/
!py/**.py
!py/utils/
!py/utils/**.py


!/Read_train/
!/Read_train/**
!/Parser-SPEF/
!/Parser-SPEF/parser-spef/
!/Parser-SPEF/parser-spef/**

!/dev
!/dev/**