# Ignore everything by default
*

# Keep the .gitignore itself
!/.gitignore

# Track only Tree directory contents
!/Tree/
!/Tree/inc/
!/Tree/inc/**.h
!/Tree/src/
!/Tree/src/**.cpp
!/Tree/*.cpp

# Track root-level build config and docs
!/CMakeLists.txt
!/ReadMe

!py/
!py/**.py
!py/utils/
!py/utils/**.py